.row-line-height{
  display: flex;
}
.row.modal-body{
  padding-top: 40px;
}
.tab-content{
  border: 0px;
}
.input-model-style{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-position{
  width: 100%;
  flex-direction: row-reverse;
}
