<div class="row modal-body">
  <div class="input-model-style">
    <div class="row-line-height">
      <label>Category:</label>
      <input type="text" class="form-control price-input" name="category">
    </div>
    <div class="row-line-height">
      <label>Sub Category:</label>
      <input type="text" class="form-control price-input" name="subCategory">
    </div>
    <div class="row-line-height">
      <label>Item Name:</label>
      <input type="password" class="form-control price-input" name="name">
    </div>
    <div class="row-line-height">
      <label>Price:</label>
      <input type="text" class="form-control price-input" name="price">
    </div>
    <div class="row-line-height">
      <label>Account:</label>
      <input type="text" class="form-control price-input" name="amount">
    </div>
    <div class="row-line-height">
      <label>Thumb:</label>
      <input type="text" class="form-control price-input" name="thumb">
    </div>
    <div class="row-line-height">
      <label>Discount:</label>
      <input type="text" class="form-control price-input" name="discount">
    </div>
    <div class="row-line-height">
      <label>Description:</label>
      <input type="text" class="form-control price-input" name="description">
    </div>
    <div class="row-line-height btn-position">
      <button type="button" class="btn btn-warning" (click)="sendSet()">Send It!</button>
    </div>
  </div>
</div>
