<div class="center-set">
  <div>
    <div class="row-line-height input-flex">
      <label for="exampleInputName2">User ID:</label>
      <input type="text" class="form-control" id="userID" [(ngModel)]="userInfo.userID">
    </div>
    <div class="input-flex">
      <label>Password:</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="userInfo.password">
    </div>
    <div class="signup-link row-line-height">
      <a href="javascript:;" routerLink="/signup">
        <u>Signup</u>
      </a>
    </div>
    <div class="btn-position-set">
      <button type="submit" class="btn btn-warning" (click)="login()">Login</button>
    </div>
  </div>
</div>
